* {
  box-sizing: border-box;
  margin: 0;
  font-size: 20px;
}

/* Mobile */
.header {
  height: 100px;
  background-color: rgb(60 58 57);
  position: relative;
  border: 2px solid rgb(255 107 0);
}

.lo {
  text-decoration: none;
  width: 90px;
  height: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  left: 64px;
  top: 55px;
}

.fa-bars {
  position: absolute;
  right: 80px;
  color: white;
  margin-top: 10px;
  top: 50px;
  border: 2px solid rgb(255 107 0);
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  background: #1c1a19;
  padding: 120px 64px;
  position: relative;
}

.head {
  width: 45rem;
  height: 10rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 0.37px;
  color: rgb(255 107 0);
  margin-bottom: -75px;
}

.title {
  width: 200px;
  height: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.para {
  border: 2px solid rgb(255 107 0);
}

.para p {
  width: 320px;
  height: 120px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.icons {
  display: flex;
  gap: 13px;
  margin-left: 10px;
}

.fas {
  color: white;
  font-size: 30px;
}

.imga {
  position: absolute;
  right: -2px;
  top: 55.25%;
  transform: rotateY(60deg) skewY(-50deg);
  width: 16px;
}

.imgb {
  position: absolute;
  right: 0;
  top: 75.59%;
}

.imgc {
  position: absolute;
  right: 9.81%;
  top: 76.09%;
  background-color: #1c1a19;
  transform: matrix(-0.96, 0.27, 0.27, 0.96, 0, 0);
}

.imge {
  position: absolute;
  right: 13.81%;
  top: 90.09%;
}

.imgf {
  position: absolute;
  right: 5.81%;
  top: 90.09%;
}

.imgf1 {
  position: absolute;
  right: 1.81%;
  top: 92.09%;
}

.imgf2 {
  position: absolute;
  right: 7.81%;
  top: 95.09%;
}

.imgf3 {
  position: absolute;
  right: 10.81%;
  top: 93.09%;
}

.imgg {
  position: absolute;
  right: 0;
  top: 94.09%;
}

.imgh {
  position: absolute;
  right: 0;
  top: 87.09%;
}

